/* Installation 
1. Go to Caprine -> File -> Caprine Settings -> Advanced -> Custom Styles menu
2. Copy and Paste this file 
3. Reload Caprine
*/

/*
This is the custom styles file where you can add anything you want.
The styles here will be injected into Caprine and will override default styles.
If you want to disable styles but keep the config, just comment the lines that you don't want to be used.
Here are some dark mode color variables to get you started.
Edit them to change color scheme of Caprine.
Press Command/Ctrl+R in Caprine to see your changes.
*/

:root {
    --base: #000;
    --base-ninety: rgba(255, 255, 255, 0.9);
    --base-seventy-five: rgba(255, 255, 255, 0.75);
    --base-seventy: rgba(255, 255, 255, 0.7);
    --base-fifty: rgba(255, 255, 255, 0.5);
    --base-fourty: rgba(255, 255, 255, 0.4);
    --base-thirty: rgba(255, 255, 255, 0.3);
    --base-twenty: rgba(255, 255, 255, 0.2);
    --base-five: rgba(255, 255, 255, 0.05);
    --base-ten: rgba(255, 255, 255, 0.1);
    --base-nine: rgba(255, 255, 255, 0.09);
    --container-color: #323232;
    --container-dark-color: #1e1e1e;
    --list-header-color: #222;
    --blue: #0084ff;
    --selected-conversation-background: rgba(0, 0, 0, .05);
}
/* Nice UI by tamasviktor */
body{background: #ffffff !important}
h1{display:block !important; text-align:left !important; padding-left: 5px !important; position:absolute; left: 0px; overflow:visible !important; margin-top: 5px !important;}
h1:before{content:''; display:Block; background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/TbwPIvUKNmS.png); background-size: cover; width: 30px; height: 30px; float:left; margin-right: 8px; margin-top: -5px; margin-left: 8px;} 
h2{font-size: 18px !important; font-weight: bold !important; }                      
li a:hover{cursor:pointer !important} 
._1ht1._1ht2{background:rgba(0, 0, 0, .05) !important; color:#323232 !important}
._1ht1._1ht2 *{ color:#323232 !important}
._4kzu{display:none !important;}
._4u-c{border-right: 1px solid rgba(0, 0, 0, 0.05) !important}
._673w{ padding: 8px !important; height: 59px !important}
._1t2u{border-left: 0px !important;}
._fl2{ padding: 8px 8px !important}
._1enh{background:rgba(0, 0, 0, .05) !important;;}
._5iwm input._58al{background:#ffffff !important; box-shadow: 0px 0px 5px rgba(0,0,0,0.05) !important}
._673w{text-align:left !important;}
._5743{ padding-left: 6px !important;}
.uiScrollableAreaGripper{width: 2px !important}
.uiScrollableAreaTrack{width: 4px !important}
[role="row"]{-webkit-transform: scale(0.9) !important;-moz-transform: scale(0.9) !important;transform: scale(0.9) !important; width: 112% !important; left: -6% !important; margin-top: -2.2% !important}
[role="banner"]{height: auto !important; padding: 10px 8px !important; background:#ffffff !important; height: 59px !important}
[role="banner"] a{float:left !important; display:none !important;}    
._3058._15gf{width:auto !important;}